<div class="connection">
  <h2>Connection</h2>
  <div>
    <input class="inputText" placeholder="Votre email" type="text" id="email" />
  </div>
  <div>
    <input class="inputText" placeholder="Mot de Passe" type="email" id="mdpConnection" />
  </div>
  <div>
    <a href="http://localhost:3000/RoadMapList">
      <div>
        <p>Connection</p>
      </div>
    </a>
    <input type="submit" value="Vous Connecter" id="btConnection">
  </div>
  <a href="http://localhost:3000/Registration">
    <div>
      <p class="new_account">Nouveau compte</p>
    </div>
  </a>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

<script type="text/javascript">
    //$('#butConnect').click((event) => {
    //    $.ajax({
    //      type: 'GET',
    //      url: 'RoadMapList'
    //    });
    //});
</script>
