<html>
  <head>
    <meta charset="utf-8" />
    <title>Let's Trip</title>
    <link rel="stylesheet" type="text/css" href="/css/welcome.css" />
  </head>

  <body>
    <div class="wallpaper">
      <div class="containerWelcome">
        <h1 class="titlePage">Welcome to let's trip</h1>
        <p class="slogan">Let's go to travel as a team!</p>
      </div>
    </div>
    <script type="text/javascript" src="../js/welcome.js"></script>
  </body>
</html>
